.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

ul {
    font-weight: bold;
    font-size: x-large; 
}

li {
    font-weight: normal;
    font-size: medium;
    list-style-type: disc;
    /* TODO make list items indented */
}